<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Attribute</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>erstzulassung</string>
			<key>Key</key>
			<string>NUM_ATTRIBUTES</string>
			<key>Title</key>
			<string>Numerische Attribute</string>
			<key>Titles</key>
			<array>
				<string>Erstzulassung</string>
				<string>Kilometerstand</string>
				<string>Motorleistung</string>
				<string>Hubraum</string>
				<string>Verbrauch</string>
				<string>CO2 Emissionen</string>
				<string>Vorbesitzer</string>
				<string>Kaufpreis</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>erstzulassung</string>
				<string>km</string>
				<string>ps</string>
				<string>hubraum</string>
				<string>verbrauch</string>
				<string>co2</string>
				<string>vorbesitzer</string>
				<string>preis</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>art</string>
			<key>Key</key>
			<string>TEXT_ATTRIBUTES</string>
			<key>Title</key>
			<string>Textattribute</string>
			<key>Titles</key>
			<array>
				<string>Art</string>
				<string>Karosserie</string>
				<string>Kraftstoff</string>
				<string>Getriebe</string>
				<string>Farbe</string>
				<string>Polster</string>
				<string>Modell</string>
				<string>Leistungen</string>
				<string>Kontakt</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>art</string>
				<string>karosserie</string>
				<string>kraftstoff</string>
				<string>getriebe</string>
				<string>farbe</string>
				<string>polster</string>
				<string>modell</string>
				<string>garantie</string>
				<string>kontakt</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>ausstattung</string>
			<key>Key</key>
			<string>ATTRIBUTES_LIST</string>
			<key>Title</key>
			<string>Attributlisten</string>
			<key>Titles</key>
			<array>
				<string>Ausstattung</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ausstattung</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Numerische Attributregeln</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>preis:-</string>
			<key>Key</key>
			<string>NUMERIC_MAPPING_PRICE</string>
			<key>Title</key>
			<string>Preis</string>
			<key>Titles</key>
			<array>
				<string>preis:-</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>preis:-</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>erstzulassung:+</string>
			<key>Key</key>
			<string>NUMERIC_MAPPING_SAFETY</string>
			<key>Title</key>
			<string>Sicherheit</string>
			<key>Titles</key>
			<array>
				<string>erstzulassung:+</string>
				<string>km:-</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>erstzulassung:+</string>
				<string>km:-</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>hubraum:+</string>
			<key>Key</key>
			<string>NUMERIC_MAPPING_SPORTY</string>
			<key>Title</key>
			<string>Sportlich</string>
			<key>Titles</key>
			<array>
				<string>ps:+</string>
				<string>hubraum:+</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ps:+</string>
				<string>hubraum:+</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>verbrauch:-</string>
			<key>Key</key>
			<string>NUMERIC_MAPPING_ENVIRONMENTAL</string>
			<key>Title</key>
			<string>Ökologisch</string>
			<key>Titles</key>
			<array>
				<string>ps:-</string>
				<string>hubraum:-</string>
				<string>verbrauch:-</string>
				<string>co2:-</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ps:-</string>
				<string>hubraum:-</string>
				<string>verbrauch:-</string>
				<string>co2:-</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Formulierungsregeln</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_EZL</string>
			<key>Title</key>
			<string>Erstzulassung</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:nicht[ ]+aelter(?:[ ]+als)?|&gt;=?|ab)(?:[ \.]+baujahr|[ \.]+ez|[ \.]+bj)?[ \.]*((?:0?[0-9].|1[0-2].)?(?:19|20)[0-9]{2})[ $]</string>
				<string>(?:aelter(?:[ ]+als)?|&lt;=?|bis)(?:[ \.]+baujahr|[ \.]+ez|[ \.]+bj)?[ \.]*((?:0?[0-9].|1[0-2].)?(?:19|20)[0-9]{2})[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?(?:[ \.]+baujahr|[ \.]+ez|[ \.]+bj)?[ \.]*((?:0?[0-9].|1[0-2].)?(?:19|20)[0-9]{2})[ $]</string>
				<string>%@|[:\-;&gt;&lt;=]((?:(?:0?[0-9])|(?:1[0-2])).)?((?:19|20)[0-9]{2})</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_KM</string>
			<key>Title</key>
			<string>Kilometerstand</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*km[ $]</string>
				<string>(?:&lt;|max|unterhalb|hoechstens)[ \.]*([0-9]+(?:\.[0-9]{3})*(?:,[0-9]*)?)[ \.]*km[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:\.[0-9]{3})*(?:,[0-9]*)?)[ \.]*km[ $]</string>
				<string>%@|[:\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_PS</string>
			<key>Title</key>
			<string>Motorleistung</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ps[ $]</string>
				<string>(?:&lt;|max)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ps[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ps[ $]</string>
				<string>%@|[:\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_CCM</string>
			<key>Title</key>
			<string>Hubraum</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ccm[ $]</string>
				<string>(?:&lt;|max)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ccm[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*ccm[ $]</string>
				<string>%@|[:\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_LKM</string>
			<key>Title</key>
			<string>Verbrauch</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*l/?(?:(?:100)?km)?[ $]</string>
				<string>(?:&lt;|max)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*l/?(?:(?:100)?km)?[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*l/?(?:(?:100)?km)?[ $]</string>
				<string>%@|[:\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_GKM</string>
			<key>Title</key>
			<string>CO2 Emissionen</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*g/?(?:km)?[ $]</string>
				<string>(?:&lt;|max)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*g/?(?:km)?[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*g/?(?:km)?[ $]</string>
				<string>%@|[:\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMULATION_EUR</string>
			<key>Title</key>
			<string>Kaufpreis</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>(?:&gt;|min)[ \.]*([0-9]+(?:,[0-9]*)?)[ \.]*euro?[ $]</string>
				<string>(?:&lt;|max|unterhalb|hoechstens)[ \.]*([0-9]+(?:\.[0-9]{3})*(?:,[0-9]*)?)[ \.]*euro?[ $]</string>
				<string>(?:bevorzugt|ca|etwa|circa)?[ \.]*([0-9]+(?:\.[0-9]{3})*(?:,[0-9]*)?)[ \.]*euro?[ $]</string>
				<string>%@|[:\\-;][0-9]+(,[0-9]*)??</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>IGNORE_TAGS</string>
			<key>Title</key>
			<string>Ignorieren</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>tel</string>
				<string>fax</string>
				<string>gmbh</string>
				<string>strasse</string>
				<string>+49</string>
				<string>amp;</string>
				<string>und</string>
				<string>mercedes-gmbh</string>
				<string>weg</string>
				<string>mbh</string>
				<string>verkauf</string>
				<string>service</string>
				<string>amp;g</string>
				<string>aktiengesellschaft</string>
				<string>gautomobilgesellschaft</string>
				<string>min</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Akronyme</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>preis:-</string>
			<key>Key</key>
			<string>BILLIG</string>
			<key>NegValue</key>
			<string>preis:+</string>
			<key>Title</key>
			<string>billig</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>erstzulassung:-</string>
			<key>Key</key>
			<string>ALT</string>
			<key>NegValue</key>
			<string>erstzulassung:+</string>
			<key>Title</key>
			<string>alt</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>karosserie:off-roader</string>
			<key>Key</key>
			<string>GELAENDE</string>
			<key>Title</key>
			<string>gelaende</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Synonyme</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_OFF_ROAD</string>
			<key>Title</key>
			<string>gelaende</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>gelaendegaengig</string>
				<string>gelaendetauglich</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_CHEAP</string>
			<key>Title</key>
			<string>billig</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>preiswert</string>
				<string>preiswerter</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_QUATRO</string>
			<key>Title</key>
			<string>allrad</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>4matic</string>
				<string>quattro</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_ALU</string>
			<key>Title</key>
			<string>aluminium</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>alu</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_MEDIA</string>
			<key>Title</key>
			<string>media interface</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ipod</string>
				<string>iphone</string>
				<string>mp3</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_A_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_a</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>a</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_B_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_b</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>b</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_C_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_c</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>c</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_CL_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_cl</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>cl</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_CLC_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_clc</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>clc</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_CLK_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_clk</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>clk</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_CLS_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_cls</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>cls</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_E_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_e</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>e</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_G_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_g</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>g</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_GL_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_gl</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>gl</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_GLK_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_glk</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>glk</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_ML_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_ml</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ml</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_R_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_r</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>r</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_S_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_s</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>s</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_SL_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_sl</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>sl</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_SLK_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_slk</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>slk</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_SLR_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_slr</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>slr</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>DICT_V_CLASS</string>
			<key>Title</key>
			<string>mercedes_benz_v</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>v</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Numerische Formate</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_DATE</string>
			<key>Title</key>
			<string>Erstzulassung</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%02d/%4d</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_KM</string>
			<key>Title</key>
			<string>Kilometerstand</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%d.%03d km</string>
				<string>%d km</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_HP</string>
			<key>Title</key>
			<string>Motorleistung</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%d kW (%d PS)</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_CCM</string>
			<key>Title</key>
			<string>Hubraum</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%d.%03d ccm</string>
				<string>%d ccm</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_LKM</string>
			<key>Title</key>
			<string>Verbrauch</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%.1f l/100 km</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_CO2</string>
			<key>Title</key>
			<string>CO2 Emissionen</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>%d g/km</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>FORMAT_EUR</string>
			<key>Title</key>
			<string>Kaufpreis</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>€ %d.%03d,00</string>
				<string>€ %d,00</string>
			</array>
		</dict>
	</array>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Achtung: Profileinstellungen können in dieser Pilotphase noch zu fehlerhaften oder verwirrenden Auswertungen führen.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Vorlieben</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>PRICE</string>
			<key>Title</key>
			<string>Preis</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>COMFORT</string>
			<key>Title</key>
			<string>Komfort</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>SAFETY</string>
			<key>Title</key>
			<string>Sicherheit</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>SPORTY</string>
			<key>Title</key>
			<string>Sportlich</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>ENVIRONMENTAL</string>
			<key>Title</key>
			<string>Ökologisch</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>FAMILY</string>
			<key>Title</key>
			<string>Familie</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>TRAVEL</string>
			<key>Title</key>
			<string>Reisen</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>LUXURY</string>
			<key>Title</key>
			<string>Luxuriös</string>
			<key>Titles</key>
			<array>
				<string>0 (ausschließen)</string>
				<string>1 (überhaupt nicht wichtig)</string>
				<string>2 (nicht so wichtig)</string>
				<string>3 (interessiert)</string>
				<string>4 (wichtig)</string>
				<string>5 (sehr wichtig)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
